{{ $js := resources.Get "js/jquery.js" }}
{{ $secureJS := $js |  resources.Minify | resources.Fingerprint }}
<script type="text/javascript"
        src="{{ $secureJS.Permalink }}"
        integrity="{{ $secureJS.Data.Integrity }}"
        crossorigin="anonymous"></script>
{{ $migrate := resources.Get "js/jquery-migrate.js" }}
{{ $appear := resources.Get "js/jquery-appear.js" }}
{{ $js := slice $migrate $appear | resources.Concat "js/bundle.js" }}
{{ $secureJS := $js |  resources.Minify | resources.Fingerprint }}
<script type="text/javascript"
        src="{{ $secureJS.Permalink }}"
        integrity="{{ $secureJS.Data.Integrity }}"
        crossorigin="anonymous"></script>

{{- partial "medium-zoom.html" . -}}
{{- partial "math.html" . -}}
<noscript><img src="https://sn.mattarnster.co.uk/ingress/e5109e78-1db4-43c3-a2c4-e4414eb60047/pixel.gif"></noscript>
<script src="https://sn.mattarnster.co.uk/ingress/e5109e78-1db4-43c3-a2c4-e4414eb60047/script.js"></script>
